.main{
    background-color: rgb(255, 115, 115);
    margin: 50px;
    padding: 20px;
    width: fit-content;
}
.screen{
    background-color: yellow;
    height: 20px;
    padding: 20px;
    font-size: 20px;
}
.row1,.row2,.row3,.row4,.row5{
    display: flex;
    
}
.numbers,.operation{
    background-color: rgb(178, 70, 153);
    font-size: 35px;
    padding: 15px;
    width: 100%;
    margin: 3px;
}
.numbers:hover{
    background-color: rgb(255, 53, 208);
}
.operation{
    background-color: rgb(58, 188, 54);
}
.operation:hover{
    background-color: rgb(111, 238, 106);
}